@import "tailwindcss";

@theme {
    --bg-primary: oklch(0.13 0.028 261.692);
    /* oklch(0.216 0.006 56.043); */
    --bg-secondary: oklch(0.37 0.013 285.805);
    /* oklch(0.374 0.01 67.558); */
    --bg-tertiary: oklch(0.922 0 0);
    --text-primary: oklch(0.922 0 0);
    --text-secondary: oklch(0.87 0 0);
    --text-secondary: oklch(0.708 0 0);
    --text-tertiary: oklch(0.205 0 0);
    --text-highlight: oklch(0.705 0.213 47.604);
    --text-error: oklch(0.637 0.237 25.331);
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 0.5rem;
    }

    .scrollbar::-webkit-scrollbar-track {
        @apply rounded-xl bg-zinc-50;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply rounded-xl bg-zinc-800;
    }

    .pixel-art {
        image-rendering: pixelated;
    }

    .menu-button {
        @apply w-full aspect-square rounded-xl bg-(--bg-secondary) p-2 hover:opacity-70 border-2 border-(--bg-secondary) hover:border-(--text-highlight) hover:scale-105 transition-all duration-300 cursor-pointer disabled:pointer-events-none disabled:text-(--text-secondary);
    }

    .button {
        @apply w-full rounded-xl bg-(--bg-secondary) p-2 hover:opacity-70 border-2 border-(--bg-secondary) hover:border-(--text-highlight) transition-all duration-300 cursor-pointer disabled:pointer-events-none disabled:text-(--text-secondary);
    }

    .link {
        @apply text-blue-300 hover:underline hover:text-blue-400 transition-all;
    }

    .command {
        @apply text-blue-300;
    }

    .item {
        @apply text-amber-200 font-bold;
    }

    .health {
        @apply text-red-500 font-bold;
    }

    .exit {
        @apply text-amber-200;
    }

    .direction {
        @apply font-bold;
    }

    .location {
        @apply text-amber-200;
    }
}